body {
    margin: 0;
    padding: 0;
}

* {
    scrollbar-color: rgba(0, 0, 0, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
}


/* .logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
} */

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div.main {
    background-color: #e5ddd5;
    border: 1px solid #ced4da;
    border-radius: 10px;
    max-width: 955px;
    margin: auto;
    padding: 10px;
}

.container {
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 5px;
}

.message {
    max-width: 85%;
    padding: 5px 10px;
    margin: 1px auto;
    position: relative;
    border-radius: 10px;
    color: #303030;
    box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
    word-break: break-word;
}

.left {
    float: left;
    clear: both;
    background-color: #fff;
}

.right {
    float: right;
    clear: both;
    background-color: #dcf8c6;
}

.right p span[left] {
    color: red;
}

.right p span[join] {
    color: green;
}

.message h5 {
    margin: 0;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 2px;
}

.message p {
    margin: 0;
    white-space: pre-wrap;
}

.send-container {
    display: flex;
    margin: auto;
    max-width: 977px;
    width: 100%;
}

#messageInp {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 30px;
    resize: none;
    max-height: 110px;
    height: 43px;
}

#messageInp:focus,
#messageInp:active {
    outline: 0;
}

#send-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 50px;
    padding: 10px;
    margin-left: 4px;
    text-align: center;
    display: none;
}